ABOUT-NLS
Makefile.am~
Makefile.in
Makefile.in~
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.log
config.rpath
config.rpath~
config.sub
configure
depcomp
icons/Makefile.in
identify.cpp
install-sh
m4/
missing
mkinstalldirs
po/Makefile.in.in
po/Makefile.in.in~
po/Makevars.template
po/Rules-quot
po/Rules-quot~
po/boldquot.sed
po/boldquot.sed~
po/en@boldquot.header
po/en@boldquot.header~
po/en@quot.header
po/en@quot.header~
po/insert-header.sin
po/insert-header.sin~
po/quot.sed
po/quot.sed~
po/remove-potcdate.sin
po/remove-potcdate.sin~
