[Desktop Entry]
Name=UFRaw
GenericName=Raw image converter
GenericName[da]=Raw-billedbehandler
GenericName[es]=Conversor de imágenes raw
GenericName[ru]=Проявитель цифровых негативов
GenericName[pt]=Conversor de imagens cruas
Comment=A utility to read and manipulate raw images from digital cameras
Comment[da]=Et program til at læse og behandle raw-billeder fra digitalkameraer
Comment[es]=Programa para leer y manipular imágenes raw de cámaras digitales
Comment[ru]=Проявка цифровых негативов и сохранение в TIFF/JPEG
Comment[pt]=Programa para ler e manipular imagens de câmeras digitais

Encoding=UTF-8
Version=1.0

Type=Application
Categories=Application;Graphics;Photography;GTK;

FilePattern=ufraw
Exec=ufraw %U
TryExec=ufraw
Terminal=false
StartupNotify=true

MimeType=application/x-ufraw;image/x-dcraw

Icon=ufraw.png
